@font-face {
    font-family: "Source Sans 3";
    src: url(./Fonts/SourceSans3-Light.ttf);
}

/*reglage commun*/
* {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
}

h1 {
    font-size: 3.4rem;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}

p {
    line-height: 36px;
    /*permet de donné des écarts entre les lignes*/
    margin: 25px 0;
    /*permet de séparer le p de son h1*/
}

.button {
    border: 1.5px solid;
    background: transparent;
    display: inline-block;
    /*inlineblock permet de considéré le bouton en block surtout quand ils ont dans ancor. De base comme des span des i ou des a de base il ne sont pas des éléments qui reviennent à la ligne tous seul. Avec inlineblock il seront mieux*/

    color: rgb(27, 26, 26);
    border-radius: 100px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    border-color: rgb(211, 211, 211);
    padding: 10px 25px;
    cursor: pointer;
    transition: 1.1s;
}

.button:hover,
footer a:hover {
    border: 1.5px solid;
    transition: 1.1s;
    scale: 1.1;
    color: aqua;
    border-color: aqua;
    border-radius: 10px;
}

/* *************************************************** */


main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    text-align: left;


}

.left-parts-container {
    display: grid;
    align-items: center;
    text-align: left;
    max-width: 100%;
    margin: 0 50px;

}

.right-parts-container {
    background: url(./img/banner.jpg) right/cover;

}


.header01 {
    min-height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    text-align: left;
    position: relative;
}

.header01:after {
    content: "";
    position: absolute;
    top: 0px;
    height: 1px;
    width: 100%;
    background: rgb(233, 232, 232);
}

.left-header01-container {
    background: url(./img/img-left.jpg) center/cover;
    min-height: 600px;
}

.header01-right-content-container {
    display: block;
    flex-direction: column;
    margin: 150px 50px;
}

.header02 {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    text-align: left;
    position: relative;

}

.header02:after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 1px;
    width: 100%;
    background: rgb(233, 232, 232);

}

.header02:before {
    content: "";
    position: absolute;
    top: 0px;
    height: 1px;
    width: 100%;
    background: rgb(233, 232, 232);
}


.header02-right-container {
    background: url(./img/img-right.jpg) center/cover;
    min-height: 700px;

}

.header02-left-content-container {
    display: block;
    flex-direction: column;
    margin: 100px 50px;


}

/* ****************Formulaire Contacte************ */


.formulaire {
    text-align: center;
    display: grid;
    justify-content: center;
    position: relative;
    width: 100%;
}

.formulaire-container {
    position: relative;
    text-align: center;
    justify-content: center;
    width: 100%;

}

.formulaire-container h2 {
    text-align: center;
    margin: 0px auto;
    margin-top: 70px;
}

.formulaire-content {

    text-align: center;
    padding: 60px;
}

.form-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 224px;
    grid-template-areas:
        "input1 input2"
        "textarea textarea";
    width: 85%;
    margin: 0px auto;
    max-width: 3000px;
    justify-items: center;
    text-align: center;
    gap: 10px;
}

.textarea {
    grid-area: textarea;
    width: 310px;
}

label {
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

input[type="text"],
textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(133, 131, 131);
}

input[type="text"]:focus,
textarea:focus {
    border: 3px solid aqua;
    transition: 1.2s;
}

textarea {
    resize: none;
    height: 180px;
}


.formulaire:after {
    position: absolute;
    content: "";
    bottom: 0px;
    height: 1px;
    width: 100%;
    background: rgb(233, 232, 232);

}

footer ul {
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
    width: 33%;
    min-width: 300px;
    scale: 1.5;
    border: 4px;


}

footer a {
    padding: 15px;
    border-radius: 50px;
    border: 2px solid rgb(233, 232, 232);
    width: 44px;
    height: 44px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* ******************Responsive********************* */
@media screen and (max-width: 800px) {

    .main,
    .header01,
    .header02 {
        display: block;
        height: auto;
    }

    .right-parts-container {
        height: 50vh;
        margin-top: 30px;
    }

    .left-header01-container,
    .header02-right-container {
        display: none;
    }

    .header02-left-content-container {

        margin: 50px auto;
    }


    footer ul {
        min-width: 200px;
    }

    footer a {
        width: 24px;
        height: 24px;
    }
}